{% extends 'base.html' %}

{% block head %}
<title>{{ username }}'s Profile</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="user-panel col-md-3">
                <img src="{{ user_pic }}" class="profile-pic">
                <h2>@{{ usertag }}</h2>
                <h1>{{ username }}</h1>
                <h5>{{ following }} following</h5>
                <h5>{{ followers }} followers</h5>
                {% if current_user.is_authenticated and current_user.usertag != usertag %}
                {% if not current_user.is_following(user) %}
                <a href="/follow/{{ usertag }}"><button type="button" class="btn follow-btn">Follow</button></a>
                {% elif current_user.is_following(user) %}
                <a href="/unfollow/{{ usertag }}"><button type="button" class="btn follow-btn">Unfollow</button></a>
                {% endif %}
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="user-quotes">
                    {% if current_user.usertag == usertag %}
                    <h1>Your Quotes</h1>
                    <div class="post-quote">
                        <form id="quote-form" action="" method="POST" spellcheck="false">
                            {{ quote_input.hidden_tag() }}
                            {{ quote_input.quote_content(placeholder="Post a new quote...", spellcheck="false", autocomplete="off") }}
                        </form>
                    </div>
                    {% else %}
                    <h1>User Quotes</h1>
                    {% endif %}
                    
                    {% if not quotes and current_user.usertag != usertag %}
                    <div class="no-quotes">
                        <h2>This user didn't posted any quote yet :(</h2>
                    </div>
                    {% endif %}

                    {% for quote in quotes %}
                    <div class="user-quote" style="padding: 7px; padding-bottom: 15px">
                        <div class="quote-content">
                            <q>{{ quote }}</q>
                            <p>{{ quote.str_time }}</p>
                            {% if current_user.usertag == usertag %}
                            <a style="text-decoration: none;" href="/delete/{{ quote.id }}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="user-suggestions">
                    <h4>You may like:</h4>
                    {% if rec_users %}
                    {% for user in rec_users %}
                    <div class="user-recommendation">
                        <span class="recommended-pic">
                            <img src="{{ user.profile_pic }}" class="recommended-pic">
                        </span>
                        <span class="recommended-user">
                            <h5>{{ user.username }}</h5>
                            <a href="/user/{{ user.usertag }}"><p>@{{ user.usertag }}</p></a>
                        </span>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}