{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row form-top justify-content-center">
            <div class="col-md-6 text-center">
                <div class="site-form login-form">
                    <h1>Login</h1>
                    <form class="app-auth-form" action="" method="POST" novalidate>
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.username.label }} <br>
                            {{ form.username(autocomplete="off", spellcheck="off") }} <br>
                            {% for error in form.username.errors %}
                            <span style="color: red">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.password.label }} <br>
                            {{ form.password(autocomplete="off") }} <br>
                            {% for error in form.password.errors %}
                            <span style="color: red">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.remember_me() }} {{ form.remember_me.label}}
                        </p>
                        <p>
                            {{ form.submit(class="login-btn") }}
                        </p>
                    </form>
                    <a href="/signup" class="login-link">Do not have an account?<br>
                        <span>Signup here</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}