{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row form-top justify-content-center">
            <div class="col-md-6 text-center">
                <div class="site-form">
                    <h1>Register</h1>
                    <form class="register-form" action="" method="POST" novalidate>
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.username.label }} <br>
                            {{ form.username(autocomplete="off") }} <br>
                            {% for error in form.username.errors %}
                            <span class="error-message">{{ error }}</span><br>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.usertag.label }} <br>
                            {{ form.usertag(autocomplete="off") }} <br>
                            {% for error in form.usertag.errors %}
                            <span class="error-message">{{ error }}</span><br>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.password.label }} <br>
                            {{ form.password() }} <br>
                            {% for error in form.password.errors %}
                            <span class="error-message">{{ error }}</span><br>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.repeat_password.label }} <br>
                            {{ form.repeat_password() }} <br>
                            {% for error in form.repeat_password.errors %}
                            <span class="error-message">{{ error }}</span><br>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.submit(style="color: white; background-color: #a676e4;") }}
                        </p>
                    </form>
                    <div class="login-link">
                        <a href="/login" class="login-link">Already have an account?<br>
                            <span style="color: #4e3076;">Login here</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}